<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Admin" >
    <id column="AdminID" property="adminid" jdbcType="INTEGER" />
    <result column="AdminName" property="adminname" jdbcType="VARCHAR" />
    <result column="AdminAcc" property="adminacc" jdbcType="VARCHAR" />
    <result column="AdminPwd" property="adminpwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AdminID, AdminName, AdminAcc, AdminPwd
  </sql>
  <select id="selectByPrimaryKey" resultType="Admin" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Admin
    where AdminID = #{adminid,jdbcType=INTEGER}
  </select>
  <select id="selectByAcc" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from Admin
    where AdminAcc = #{adminacc}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Admin
    where AdminID = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Admin" >
    insert into Admin (AdminID, AdminName, AdminAcc, 
      AdminPwd)
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminacc,jdbcType=VARCHAR}, 
      #{adminpwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Admin" >
    insert into Admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        AdminID,
      </if>
      <if test="adminname != null" >
        AdminName,
      </if>
      <if test="adminacc != null" >
        AdminAcc,
      </if>
      <if test="adminpwd != null" >
        AdminPwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminacc != null" >
        #{adminacc,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null" >
        #{adminpwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Admin" >
    update Admin
    <set >
      <if test="adminname != null" >
        AdminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminacc != null" >
        AdminAcc = #{adminacc,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null" >
        AdminPwd = #{adminpwd,jdbcType=VARCHAR},
      </if>
    </set>
    where AdminID = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Admin" >
    update Admin
    set AdminName = #{adminname,jdbcType=VARCHAR},
      AdminAcc = #{adminacc,jdbcType=VARCHAR},
      AdminPwd = #{adminpwd,jdbcType=VARCHAR}
    where AdminID = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>