<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.hyskjf.dao.ConsumeMapper">
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Consume">
    <id column="cumID" jdbcType="INTEGER" property="cumid" />
    <result column="mcPKID" jdbcType="INTEGER" property="mcpkid" />
    <result column="cumMoney" jdbcType="REAL" property="cummoney" />
    <result column="cumWay" jdbcType="VARCHAR" property="cumway" />
    <result column="cumCredit" jdbcType="REAL" property="cumcredit" />
    <result column="macID" jdbcType="INTEGER" property="macid" />
    <result column="cumTime" jdbcType="TIMESTAMP" property="cumtime" />
    <result column="pduID" jdbcType="INTEGER" property="pduid" />
    <result column="hasComment" jdbcType="BIT" property="hascomment" />
  </resultMap>
  <sql id="Base_Column_List">
    cumID, mcPKID, cumMoney, cumWay, cumCredit, macID, cumTime, pduID, hasComment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Consume
    where cumID = #{cumid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Consume
    where cumID = #{cumid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Consume">
    insert into Consume (cumID, mcPKID, cumMoney, 
      cumWay, cumCredit, macID, 
      cumTime, pduID, hasComment
      )
    values (#{cumid,jdbcType=INTEGER}, #{mcpkid,jdbcType=INTEGER}, #{cummoney,jdbcType=REAL}, 
      #{cumway,jdbcType=VARCHAR}, #{cumcredit,jdbcType=REAL}, #{macid,jdbcType=INTEGER}, 
      #{cumtime,jdbcType=TIMESTAMP}, #{pduid,jdbcType=INTEGER}, #{hascomment,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Consume">
    insert into Consume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cumid != null">
        cumID,
      </if>
      <if test="mcpkid != null">
        mcPKID,
      </if>
      <if test="cummoney != null">
        cumMoney,
      </if>
      <if test="cumway != null">
        cumWay,
      </if>
      <if test="cumcredit != null">
        cumCredit,
      </if>
      <if test="macid != null">
        macID,
      </if>
      <if test="cumtime != null">
        cumTime,
      </if>
      <if test="pduid != null">
        pduID,
      </if>
      <if test="hascomment != null">
        hasComment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cumid != null">
        #{cumid,jdbcType=INTEGER},
      </if>
      <if test="mcpkid != null">
        #{mcpkid,jdbcType=INTEGER},
      </if>
      <if test="cummoney != null">
        #{cummoney,jdbcType=REAL},
      </if>
      <if test="cumway != null">
        #{cumway,jdbcType=VARCHAR},
      </if>
      <if test="cumcredit != null">
        #{cumcredit,jdbcType=REAL},
      </if>
      <if test="macid != null">
        #{macid,jdbcType=INTEGER},
      </if>
      <if test="cumtime != null">
        #{cumtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pduid != null">
        #{pduid,jdbcType=INTEGER},
      </if>
      <if test="hascomment != null">
        #{hascomment,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Consume">
    update Consume
    <set>
      <if test="mcpkid != null">
        mcPKID = #{mcpkid,jdbcType=INTEGER},
      </if>
      <if test="cummoney != null">
        cumMoney = #{cummoney,jdbcType=REAL},
      </if>
      <if test="cumway != null">
        cumWay = #{cumway,jdbcType=VARCHAR},
      </if>
      <if test="cumcredit != null">
        cumCredit = #{cumcredit,jdbcType=REAL},
      </if>
      <if test="macid != null">
        macID = #{macid,jdbcType=INTEGER},
      </if>
      <if test="cumtime != null">
        cumTime = #{cumtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pduid != null">
        pduID = #{pduid,jdbcType=INTEGER},
      </if>
      <if test="hascomment != null">
        hasComment = #{hascomment,jdbcType=BIT},
      </if>
    </set>
    where cumID = #{cumid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Consume">
    update Consume
    set mcPKID = #{mcpkid,jdbcType=INTEGER},
      cumMoney = #{cummoney,jdbcType=REAL},
      cumWay = #{cumway,jdbcType=VARCHAR},
      cumCredit = #{cumcredit,jdbcType=REAL},
      macID = #{macid,jdbcType=INTEGER},
      cumTime = #{cumtime,jdbcType=TIMESTAMP},
      pduID = #{pduid,jdbcType=INTEGER},
      hasComment = #{hascomment,jdbcType=BIT}
    where cumID = #{cumid,jdbcType=INTEGER}
  </update>
  <!--<select id="selectByMerAndMem" resultMap="BaseResultMap">-->
    <!--select *-->
    <!--from Consume-->
    <!--where merID = #{merID} and memID = #{memID}-->
  <!--</select>-->
</mapper>