<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.hyskjf.dao.ConsumecommentMapper">
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Consumecomment">
    <result column="cumID" jdbcType="INTEGER" property="cumid" />
    <result column="macID" jdbcType="INTEGER" property="macid" />
    <result column="mcPKID" jdbcType="INTEGER" property="mcpkid" />
    <result column="cumMoney" jdbcType="REAL" property="cummoney" />
    <result column="cumWay" jdbcType="VARCHAR" property="cumway" />
    <result column="cumCredit" jdbcType="REAL" property="cumcredit" />
    <result column="cumTime" jdbcType="TIMESTAMP" property="cumtime" />
    <result column="pduID" jdbcType="INTEGER" property="pduid" />
    <result column="hasComment" jdbcType="BIT" property="hascomment" />
    <result column="memID" jdbcType="INTEGER" property="memid" />
    <result column="merID" jdbcType="INTEGER" property="merid" />
    <result column="merType" jdbcType="VARCHAR" property="mertype" />
    <result column="merName" jdbcType="VARCHAR" property="mername" />
  </resultMap>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Consumecomment">
    insert into ConsumeComment (cumID, macID, mcPKID, 
      cumMoney, cumWay, cumCredit, 
      cumTime, pduID, hasComment, 
      memID, merID, merType, 
      merName)
    values (#{cumid,jdbcType=INTEGER}, #{macid,jdbcType=INTEGER}, #{mcpkid,jdbcType=INTEGER}, 
      #{cummoney,jdbcType=REAL}, #{cumway,jdbcType=VARCHAR}, #{cumcredit,jdbcType=REAL}, 
      #{cumtime,jdbcType=TIMESTAMP}, #{pduid,jdbcType=INTEGER}, #{hascomment,jdbcType=BIT}, 
      #{memid,jdbcType=INTEGER}, #{merid,jdbcType=INTEGER}, #{mertype,jdbcType=VARCHAR}, 
      #{mername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Consumecomment">
    insert into ConsumeComment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cumid != null">
        cumID,
      </if>
      <if test="macid != null">
        macID,
      </if>
      <if test="mcpkid != null">
        mcPKID,
      </if>
      <if test="cummoney != null">
        cumMoney,
      </if>
      <if test="cumway != null">
        cumWay,
      </if>
      <if test="cumcredit != null">
        cumCredit,
      </if>
      <if test="cumtime != null">
        cumTime,
      </if>
      <if test="pduid != null">
        pduID,
      </if>
      <if test="hascomment != null">
        hasComment,
      </if>
      <if test="memid != null">
        memID,
      </if>
      <if test="merid != null">
        merID,
      </if>
      <if test="mertype != null">
        merType,
      </if>
      <if test="mername != null">
        merName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cumid != null">
        #{cumid,jdbcType=INTEGER},
      </if>
      <if test="macid != null">
        #{macid,jdbcType=INTEGER},
      </if>
      <if test="mcpkid != null">
        #{mcpkid,jdbcType=INTEGER},
      </if>
      <if test="cummoney != null">
        #{cummoney,jdbcType=REAL},
      </if>
      <if test="cumway != null">
        #{cumway,jdbcType=VARCHAR},
      </if>
      <if test="cumcredit != null">
        #{cumcredit,jdbcType=REAL},
      </if>
      <if test="cumtime != null">
        #{cumtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pduid != null">
        #{pduid,jdbcType=INTEGER},
      </if>
      <if test="hascomment != null">
        #{hascomment,jdbcType=BIT},
      </if>
      <if test="memid != null">
        #{memid,jdbcType=INTEGER},
      </if>
      <if test="merid != null">
        #{merid,jdbcType=INTEGER},
      </if>
      <if test="mertype != null">
        #{mertype,jdbcType=VARCHAR},
      </if>
      <if test="mername != null">
        #{mername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByMemID" resultMap="BaseResultMap">
    select *
    from ConsumeComment
    where memID = #{memID} and hasComment = 0
  </select>
  <select id="selectByMerAndMem" resultMap="BaseResultMap">
    select *
    from ConsumeComment
    where merID = #{param1} and memID = #{param2}
  </select>
</mapper>