<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.CreditexchangeMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Creditexchange" >
    <id column="ceID" property="ceid" jdbcType="INTEGER" />
    <result column="ceStat" property="cestat" jdbcType="VARCHAR" />
    <result column="memID" property="memid" jdbcType="DECIMAL" />
    <result column="mcID" property="mcid" jdbcType="DECIMAL" />
    <result column="ceWays" property="ceways" jdbcType="VARCHAR" />
    <result column="ceItem" property="ceitem" jdbcType="VARCHAR" />
    <result column="ceAmount" property="ceamount" jdbcType="INTEGER" />
    <result column="ceCost" property="cecost" jdbcType="REAL" />
    <result column="ceAdress" property="ceadress" jdbcType="VARCHAR" />
    <result column="ceTime" property="cetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ceID, ceStat, memID, mcID, ceWays, ceItem, ceAmount, ceCost, ceAdress, ceTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CreditExchange
    where ceID = #{ceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CreditExchange
    where ceID = #{ceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Creditexchange" >
    insert into CreditExchange (ceID, ceStat, memID, 
      mcID, ceWays, ceItem, 
      ceAmount, ceCost, ceAdress, 
      ceTime)
    values (#{ceid,jdbcType=INTEGER}, #{cestat,jdbcType=VARCHAR}, #{memid,jdbcType=DECIMAL}, 
      #{mcid,jdbcType=DECIMAL}, #{ceways,jdbcType=VARCHAR}, #{ceitem,jdbcType=VARCHAR}, 
      #{ceamount,jdbcType=INTEGER}, #{cecost,jdbcType=REAL}, #{ceadress,jdbcType=VARCHAR}, 
      #{cetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Creditexchange" >
    insert into CreditExchange
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ceid != null" >
        ceID,
      </if>
      <if test="cestat != null" >
        ceStat,
      </if>
      <if test="memid != null" >
        memID,
      </if>
      <if test="mcid != null" >
        mcID,
      </if>
      <if test="ceways != null" >
        ceWays,
      </if>
      <if test="ceitem != null" >
        ceItem,
      </if>
      <if test="ceamount != null" >
        ceAmount,
      </if>
      <if test="cecost != null" >
        ceCost,
      </if>
      <if test="ceadress != null" >
        ceAdress,
      </if>
      <if test="cetime != null" >
        ceTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ceid != null" >
        #{ceid,jdbcType=INTEGER},
      </if>
      <if test="cestat != null" >
        #{cestat,jdbcType=VARCHAR},
      </if>
      <if test="memid != null" >
        #{memid,jdbcType=DECIMAL},
      </if>
      <if test="mcid != null" >
        #{mcid,jdbcType=DECIMAL},
      </if>
      <if test="ceways != null" >
        #{ceways,jdbcType=VARCHAR},
      </if>
      <if test="ceitem != null" >
        #{ceitem,jdbcType=VARCHAR},
      </if>
      <if test="ceamount != null" >
        #{ceamount,jdbcType=INTEGER},
      </if>
      <if test="cecost != null" >
        #{cecost,jdbcType=REAL},
      </if>
      <if test="ceadress != null" >
        #{ceadress,jdbcType=VARCHAR},
      </if>
      <if test="cetime != null" >
        #{cetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Creditexchange" >
    update CreditExchange
    <set >
      <if test="cestat != null" >
        ceStat = #{cestat,jdbcType=VARCHAR},
      </if>
      <if test="memid != null" >
        memID = #{memid,jdbcType=DECIMAL},
      </if>
      <if test="mcid != null" >
        mcID = #{mcid,jdbcType=DECIMAL},
      </if>
      <if test="ceways != null" >
        ceWays = #{ceways,jdbcType=VARCHAR},
      </if>
      <if test="ceitem != null" >
        ceItem = #{ceitem,jdbcType=VARCHAR},
      </if>
      <if test="ceamount != null" >
        ceAmount = #{ceamount,jdbcType=INTEGER},
      </if>
      <if test="cecost != null" >
        ceCost = #{cecost,jdbcType=REAL},
      </if>
      <if test="ceadress != null" >
        ceAdress = #{ceadress,jdbcType=VARCHAR},
      </if>
      <if test="cetime != null" >
        ceTime = #{cetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ceID = #{ceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Creditexchange" >
    update CreditExchange
    set ceStat = #{cestat,jdbcType=VARCHAR},
      memID = #{memid,jdbcType=DECIMAL},
      mcID = #{mcid,jdbcType=DECIMAL},
      ceWays = #{ceways,jdbcType=VARCHAR},
      ceItem = #{ceitem,jdbcType=VARCHAR},
      ceAmount = #{ceamount,jdbcType=INTEGER},
      ceCost = #{cecost,jdbcType=REAL},
      ceAdress = #{ceadress,jdbcType=VARCHAR},
      ceTime = #{cetime,jdbcType=TIMESTAMP}
    where ceID = #{ceid,jdbcType=INTEGER}
  </update>
</mapper>