<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.EvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Evaluation" >
    <id column="evaID" property="evaid" jdbcType="INTEGER" />
    <result column="AdminID" property="adminid" jdbcType="DECIMAL" />
    <result column="merID" property="merid" jdbcType="DECIMAL" />
    <result column="memID" property="memid" jdbcType="DECIMAL" />
    <result column="evaInfo" property="evainfo" jdbcType="VARCHAR" />
    <result column="evaIP" property="evaip" jdbcType="VARCHAR" />
    <result column="evaBy" property="evaby" jdbcType="DECIMAL" />
    <result column="evaTime" property="evatime" jdbcType="TIMESTAMP" />
    <result column="evaEnable" property="evaenable" jdbcType="BIT" />
    <result column="evaReply" property="evareply" jdbcType="BIT" />
    <result column="evaReplyBy" property="evareplyby" jdbcType="DECIMAL" />
    <result column="evaRepInfo" property="evarepinfo" jdbcType="VARCHAR" />
    <result column="evaRepTime" property="evareptime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    evaID, AdminID, merID, memID, evaInfo, evaIP, evaBy, evaTime, evaEnable, evaReply, 
    evaReplyBy, evaRepInfo, evaRepTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Evaluation
    where evaID = #{evaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Evaluation
    where evaID = #{evaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Evaluation" >
    insert into Evaluation (evaID, AdminID, merID, 
      memID, evaInfo, evaIP, 
      evaBy, evaTime, evaEnable, 
      evaReply, evaReplyBy, evaRepInfo, 
      evaRepTime)
    values (#{evaid,jdbcType=INTEGER}, #{adminid,jdbcType=DECIMAL}, #{merid,jdbcType=DECIMAL}, 
      #{memid,jdbcType=DECIMAL}, #{evainfo,jdbcType=VARCHAR}, #{evaip,jdbcType=VARCHAR}, 
      #{evaby,jdbcType=DECIMAL}, #{evatime,jdbcType=TIMESTAMP}, #{evaenable,jdbcType=BIT}, 
      #{evareply,jdbcType=BIT}, #{evareplyby,jdbcType=DECIMAL}, #{evarepinfo,jdbcType=VARCHAR}, 
      #{evareptime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Evaluation" >
    insert into Evaluation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaid != null" >
        evaID,
      </if>
      <if test="adminid != null" >
        AdminID,
      </if>
      <if test="merid != null" >
        merID,
      </if>
      <if test="memid != null" >
        memID,
      </if>
      <if test="evainfo != null" >
        evaInfo,
      </if>
      <if test="evaip != null" >
        evaIP,
      </if>
      <if test="evaby != null" >
        evaBy,
      </if>
      <if test="evatime != null" >
        evaTime,
      </if>
      <if test="evaenable != null" >
        evaEnable,
      </if>
      <if test="evareply != null" >
        evaReply,
      </if>
      <if test="evareplyby != null" >
        evaReplyBy,
      </if>
      <if test="evarepinfo != null" >
        evaRepInfo,
      </if>
      <if test="evareptime != null" >
        evaRepTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaid != null" >
        #{evaid,jdbcType=INTEGER},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=DECIMAL},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=DECIMAL},
      </if>
      <if test="memid != null" >
        #{memid,jdbcType=DECIMAL},
      </if>
      <if test="evainfo != null" >
        #{evainfo,jdbcType=VARCHAR},
      </if>
      <if test="evaip != null" >
        #{evaip,jdbcType=VARCHAR},
      </if>
      <if test="evaby != null" >
        #{evaby,jdbcType=DECIMAL},
      </if>
      <if test="evatime != null" >
        #{evatime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaenable != null" >
        #{evaenable,jdbcType=BIT},
      </if>
      <if test="evareply != null" >
        #{evareply,jdbcType=BIT},
      </if>
      <if test="evareplyby != null" >
        #{evareplyby,jdbcType=DECIMAL},
      </if>
      <if test="evarepinfo != null" >
        #{evarepinfo,jdbcType=VARCHAR},
      </if>
      <if test="evareptime != null" >
        #{evareptime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Evaluation" >
    update Evaluation
    <set >
      <if test="adminid != null" >
        AdminID = #{adminid,jdbcType=DECIMAL},
      </if>
      <if test="merid != null" >
        merID = #{merid,jdbcType=DECIMAL},
      </if>
      <if test="memid != null" >
        memID = #{memid,jdbcType=DECIMAL},
      </if>
      <if test="evainfo != null" >
        evaInfo = #{evainfo,jdbcType=VARCHAR},
      </if>
      <if test="evaip != null" >
        evaIP = #{evaip,jdbcType=VARCHAR},
      </if>
      <if test="evaby != null" >
        evaBy = #{evaby,jdbcType=DECIMAL},
      </if>
      <if test="evatime != null" >
        evaTime = #{evatime,jdbcType=TIMESTAMP},
      </if>
      <if test="evaenable != null" >
        evaEnable = #{evaenable,jdbcType=BIT},
      </if>
      <if test="evareply != null" >
        evaReply = #{evareply,jdbcType=BIT},
      </if>
      <if test="evareplyby != null" >
        evaReplyBy = #{evareplyby,jdbcType=DECIMAL},
      </if>
      <if test="evarepinfo != null" >
        evaRepInfo = #{evarepinfo,jdbcType=VARCHAR},
      </if>
      <if test="evareptime != null" >
        evaRepTime = #{evareptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where evaID = #{evaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Evaluation" >
    update Evaluation
    set AdminID = #{adminid,jdbcType=DECIMAL},
      merID = #{merid,jdbcType=DECIMAL},
      memID = #{memid,jdbcType=DECIMAL},
      evaInfo = #{evainfo,jdbcType=VARCHAR},
      evaIP = #{evaip,jdbcType=VARCHAR},
      evaBy = #{evaby,jdbcType=DECIMAL},
      evaTime = #{evatime,jdbcType=TIMESTAMP},
      evaEnable = #{evaenable,jdbcType=BIT},
      evaReply = #{evareply,jdbcType=BIT},
      evaReplyBy = #{evareplyby,jdbcType=DECIMAL},
      evaRepInfo = #{evarepinfo,jdbcType=VARCHAR},
      evaRepTime = #{evareptime,jdbcType=TIMESTAMP}
    where evaID = #{evaid,jdbcType=INTEGER}
  </update>
</mapper>