<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.HotelroomsMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Hotelrooms" >
    <id column="pduID" property="pduid" jdbcType="INTEGER" />
    <result column="merID" property="merid" jdbcType="INTEGER" />
    <result column="pduName" property="pduname" jdbcType="VARCHAR" />
    <result column="pduPrice" property="pduprice" jdbcType="REAL" />
    <result column="pduMemPrice" property="pdumemprice" jdbcType="REAL" />
    <result column="pduIntro" property="pduintro" jdbcType="VARCHAR" />
    <result column="pduImage" property="pduimage" jdbcType="VARCHAR" />
    <result column="pduRemain" property="pduremain" jdbcType="INTEGER" />
    <result column="hrRoomtype" property="hrroomtype" jdbcType="VARCHAR" />
    <result column="hrBreadfast" property="hrbreadfast" jdbcType="VARCHAR" />
    <result column="hrBed" property="hrbed" jdbcType="VARCHAR" />
    <result column="hrNetwork" property="hrnetwork" jdbcType="VARCHAR" />
    <result column="hrSpecialPrice" property="hrspecialprice" jdbcType="REAL" />
    <result column="hrWeekendPrice" property="hrweekendprice" jdbcType="REAL" />
    <result column="hrAvailable" property="hravailable" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scau.hyskjf.pojo.HotelroomsWithBLOBs" extends="BaseResultMap" >
    <result column="hrRoomStat" property="hrroomstat" jdbcType="LONGVARCHAR" />
    <result column="hrComment" property="hrcomment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pduID, merID, pduName, pduPrice, pduMemPrice, pduIntro, pduImage, pduRemain, hrRoomtype, 
    hrBreadfast, hrBed, hrNetwork, hrSpecialPrice, hrWeekendPrice, hrAvailable
  </sql>
  <sql id="Blob_Column_List" >
    hrRoomStat, hrComment
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HotelRooms
    where pduID = #{pduid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from HotelRooms
    where pduID = #{pduid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.HotelroomsWithBLOBs" >
    insert into HotelRooms (pduID, merID, pduName, 
      pduPrice, pduMemPrice, pduIntro, 
      pduImage, pduRemain, hrRoomtype, 
      hrBreadfast, hrBed, hrNetwork, 
      hrSpecialPrice, hrWeekendPrice, hrAvailable, 
      hrRoomStat, hrComment)
    values (#{pduid,jdbcType=INTEGER}, #{merid,jdbcType=INTEGER}, #{pduname,jdbcType=VARCHAR}, 
      #{pduprice,jdbcType=REAL}, #{pdumemprice,jdbcType=REAL}, #{pduintro,jdbcType=VARCHAR}, 
      #{pduimage,jdbcType=VARCHAR}, #{pduremain,jdbcType=INTEGER}, #{hrroomtype,jdbcType=VARCHAR}, 
      #{hrbreadfast,jdbcType=VARCHAR}, #{hrbed,jdbcType=VARCHAR}, #{hrnetwork,jdbcType=VARCHAR}, 
      #{hrspecialprice,jdbcType=REAL}, #{hrweekendprice,jdbcType=REAL}, #{hravailable,jdbcType=BIT}, 
      #{hrroomstat,jdbcType=LONGVARCHAR}, #{hrcomment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.HotelroomsWithBLOBs" >
    insert into HotelRooms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pduid != null" >
        pduID,
      </if>
      <if test="merid != null" >
        merID,
      </if>
      <if test="pduname != null" >
        pduName,
      </if>
      <if test="pduprice != null" >
        pduPrice,
      </if>
      <if test="pdumemprice != null" >
        pduMemPrice,
      </if>
      <if test="pduintro != null" >
        pduIntro,
      </if>
      <if test="pduimage != null" >
        pduImage,
      </if>
      <if test="pduremain != null" >
        pduRemain,
      </if>
      <if test="hrroomtype != null" >
        hrRoomtype,
      </if>
      <if test="hrbreadfast != null" >
        hrBreadfast,
      </if>
      <if test="hrbed != null" >
        hrBed,
      </if>
      <if test="hrnetwork != null" >
        hrNetwork,
      </if>
      <if test="hrspecialprice != null" >
        hrSpecialPrice,
      </if>
      <if test="hrweekendprice != null" >
        hrWeekendPrice,
      </if>
      <if test="hravailable != null" >
        hrAvailable,
      </if>
      <if test="hrroomstat != null" >
        hrRoomStat,
      </if>
      <if test="hrcomment != null" >
        hrComment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pduid != null" >
        #{pduid,jdbcType=INTEGER},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=INTEGER},
      </if>
      <if test="pduname != null" >
        #{pduname,jdbcType=VARCHAR},
      </if>
      <if test="pduprice != null" >
        #{pduprice,jdbcType=REAL},
      </if>
      <if test="pdumemprice != null" >
        #{pdumemprice,jdbcType=REAL},
      </if>
      <if test="pduintro != null" >
        #{pduintro,jdbcType=VARCHAR},
      </if>
      <if test="pduimage != null" >
        #{pduimage,jdbcType=VARCHAR},
      </if>
      <if test="pduremain != null" >
        #{pduremain,jdbcType=INTEGER},
      </if>
      <if test="hrroomtype != null" >
        #{hrroomtype,jdbcType=VARCHAR},
      </if>
      <if test="hrbreadfast != null" >
        #{hrbreadfast,jdbcType=VARCHAR},
      </if>
      <if test="hrbed != null" >
        #{hrbed,jdbcType=VARCHAR},
      </if>
      <if test="hrnetwork != null" >
        #{hrnetwork,jdbcType=VARCHAR},
      </if>
      <if test="hrspecialprice != null" >
        #{hrspecialprice,jdbcType=REAL},
      </if>
      <if test="hrweekendprice != null" >
        #{hrweekendprice,jdbcType=REAL},
      </if>
      <if test="hravailable != null" >
        #{hravailable,jdbcType=BIT},
      </if>
      <if test="hrroomstat != null" >
        #{hrroomstat,jdbcType=LONGVARCHAR},
      </if>
      <if test="hrcomment != null" >
        #{hrcomment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.HotelroomsWithBLOBs" >
    update HotelRooms
    <set >
      <if test="merid != null" >
        merID = #{merid,jdbcType=INTEGER},
      </if>
      <if test="pduname != null" >
        pduName = #{pduname,jdbcType=VARCHAR},
      </if>
      <if test="pduprice != null" >
        pduPrice = #{pduprice,jdbcType=REAL},
      </if>
      <if test="pdumemprice != null" >
        pduMemPrice = #{pdumemprice,jdbcType=REAL},
      </if>
      <if test="pduintro != null" >
        pduIntro = #{pduintro,jdbcType=VARCHAR},
      </if>
      <if test="pduimage != null" >
        pduImage = #{pduimage,jdbcType=VARCHAR},
      </if>
      <if test="pduremain != null" >
        pduRemain = #{pduremain,jdbcType=INTEGER},
      </if>
      <if test="hrroomtype != null" >
        hrRoomtype = #{hrroomtype,jdbcType=VARCHAR},
      </if>
      <if test="hrbreadfast != null" >
        hrBreadfast = #{hrbreadfast,jdbcType=VARCHAR},
      </if>
      <if test="hrbed != null" >
        hrBed = #{hrbed,jdbcType=VARCHAR},
      </if>
      <if test="hrnetwork != null" >
        hrNetwork = #{hrnetwork,jdbcType=VARCHAR},
      </if>
      <if test="hrspecialprice != null" >
        hrSpecialPrice = #{hrspecialprice,jdbcType=REAL},
      </if>
      <if test="hrweekendprice != null" >
        hrWeekendPrice = #{hrweekendprice,jdbcType=REAL},
      </if>
      <if test="hravailable != null" >
        hrAvailable = #{hravailable,jdbcType=BIT},
      </if>
      <if test="hrroomstat != null" >
        hrRoomStat = #{hrroomstat,jdbcType=LONGVARCHAR},
      </if>
      <if test="hrcomment != null" >
        hrComment = #{hrcomment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pduID = #{pduid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scau.hyskjf.pojo.HotelroomsWithBLOBs" >
    update HotelRooms
    set merID = #{merid,jdbcType=INTEGER},
      pduName = #{pduname,jdbcType=VARCHAR},
      pduPrice = #{pduprice,jdbcType=REAL},
      pduMemPrice = #{pdumemprice,jdbcType=REAL},
      pduIntro = #{pduintro,jdbcType=VARCHAR},
      pduImage = #{pduimage,jdbcType=VARCHAR},
      pduRemain = #{pduremain,jdbcType=INTEGER},
      hrRoomtype = #{hrroomtype,jdbcType=VARCHAR},
      hrBreadfast = #{hrbreadfast,jdbcType=VARCHAR},
      hrBed = #{hrbed,jdbcType=VARCHAR},
      hrNetwork = #{hrnetwork,jdbcType=VARCHAR},
      hrSpecialPrice = #{hrspecialprice,jdbcType=REAL},
      hrWeekendPrice = #{hrweekendprice,jdbcType=REAL},
      hrAvailable = #{hravailable,jdbcType=BIT},
      hrRoomStat = #{hrroomstat,jdbcType=LONGVARCHAR},
      hrComment = #{hrcomment,jdbcType=LONGVARCHAR}
    where pduID = #{pduid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Hotelrooms" >
    update HotelRooms
    set merID = #{merid,jdbcType=INTEGER},
      pduName = #{pduname,jdbcType=VARCHAR},
      pduPrice = #{pduprice,jdbcType=REAL},
      pduMemPrice = #{pdumemprice,jdbcType=REAL},
      pduIntro = #{pduintro,jdbcType=VARCHAR},
      pduImage = #{pduimage,jdbcType=VARCHAR},
      pduRemain = #{pduremain,jdbcType=INTEGER},
      hrRoomtype = #{hrroomtype,jdbcType=VARCHAR},
      hrBreadfast = #{hrbreadfast,jdbcType=VARCHAR},
      hrBed = #{hrbed,jdbcType=VARCHAR},
      hrNetwork = #{hrnetwork,jdbcType=VARCHAR},
      hrSpecialPrice = #{hrspecialprice,jdbcType=REAL},
      hrWeekendPrice = #{hrweekendprice,jdbcType=REAL},
      hrAvailable = #{hravailable,jdbcType=BIT}
    where pduID = #{pduid,jdbcType=INTEGER}
  </update>
</mapper>