<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Member" >
    <id column="memID" property="memid" jdbcType="DECIMAL" />
    <result column="memCer" property="memcer" jdbcType="VARCHAR" />
    <result column="memCerID" property="memcerid" jdbcType="DECIMAL" />
    <result column="memName" property="memname" jdbcType="VARCHAR" />
    <result column="memSex" property="memsex" jdbcType="VARCHAR" />
    <result column="memBirth" property="membirth" jdbcType="DATE" />
    <result column="memPhone" property="memphone" jdbcType="INTEGER" />
    <result column="memEmail" property="mememail" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scau.hyskjf.pojo.Member" extends="BaseResultMap" >
    <result column="memAdress" property="memadress" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    memID, memCer, memCerID, memName, memSex, memBirth, memPhone, memEmail
  </sql>
  <sql id="Blob_Column_List" >
    memAdress
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Member
    where memID = #{memid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Member
    where memID = #{memid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Member" >
    insert into Member (memID, memCer, memCerID, 
      memName, memSex, memBirth, 
      memPhone, memEmail, memAdress
      )
    values (#{memid,jdbcType=DECIMAL}, #{memcer,jdbcType=VARCHAR}, #{memcerid,jdbcType=DECIMAL}, 
      #{memname,jdbcType=VARCHAR}, #{memsex,jdbcType=VARCHAR}, #{membirth,jdbcType=DATE}, 
      #{memphone,jdbcType=INTEGER}, #{mememail,jdbcType=VARCHAR}, #{memadress,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Member" >
    insert into Member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memid != null" >
        memID,
      </if>
      <if test="memcer != null" >
        memCer,
      </if>
      <if test="memcerid != null" >
        memCerID,
      </if>
      <if test="memname != null" >
        memName,
      </if>
      <if test="memsex != null" >
        memSex,
      </if>
      <if test="membirth != null" >
        memBirth,
      </if>
      <if test="memphone != null" >
        memPhone,
      </if>
      <if test="mememail != null" >
        memEmail,
      </if>
      <if test="memadress != null" >
        memAdress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memid != null" >
        #{memid,jdbcType=DECIMAL},
      </if>
      <if test="memcer != null" >
        #{memcer,jdbcType=VARCHAR},
      </if>
      <if test="memcerid != null" >
        #{memcerid,jdbcType=DECIMAL},
      </if>
      <if test="memname != null" >
        #{memname,jdbcType=VARCHAR},
      </if>
      <if test="memsex != null" >
        #{memsex,jdbcType=VARCHAR},
      </if>
      <if test="membirth != null" >
        #{membirth,jdbcType=DATE},
      </if>
      <if test="memphone != null" >
        #{memphone,jdbcType=INTEGER},
      </if>
      <if test="mememail != null" >
        #{mememail,jdbcType=VARCHAR},
      </if>
      <if test="memadress != null" >
        #{memadress,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Member" >
    update Member
    <set >
      <if test="memcer != null" >
        memCer = #{memcer,jdbcType=VARCHAR},
      </if>
      <if test="memcerid != null" >
        memCerID = #{memcerid,jdbcType=DECIMAL},
      </if>
      <if test="memname != null" >
        memName = #{memname,jdbcType=VARCHAR},
      </if>
      <if test="memsex != null" >
        memSex = #{memsex,jdbcType=VARCHAR},
      </if>
      <if test="membirth != null" >
        memBirth = #{membirth,jdbcType=DATE},
      </if>
      <if test="memphone != null" >
        memPhone = #{memphone,jdbcType=INTEGER},
      </if>
      <if test="mememail != null" >
        memEmail = #{mememail,jdbcType=VARCHAR},
      </if>
      <if test="memadress != null" >
        memAdress = #{memadress,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where memID = #{memid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scau.hyskjf.pojo.Member" >
    update Member
    set memCer = #{memcer,jdbcType=VARCHAR},
      memCerID = #{memcerid,jdbcType=DECIMAL},
      memName = #{memname,jdbcType=VARCHAR},
      memSex = #{memsex,jdbcType=VARCHAR},
      memBirth = #{membirth,jdbcType=DATE},
      memPhone = #{memphone,jdbcType=INTEGER},
      memEmail = #{mememail,jdbcType=VARCHAR},
      memAdress = #{memadress,jdbcType=LONGVARCHAR}
    where memID = #{memid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Member" >
    update Member
    set memCer = #{memcer,jdbcType=VARCHAR},
      memCerID = #{memcerid,jdbcType=DECIMAL},
      memName = #{memname,jdbcType=VARCHAR},
      memSex = #{memsex,jdbcType=VARCHAR},
      memBirth = #{membirth,jdbcType=DATE},
      memPhone = #{memphone,jdbcType=INTEGER},
      memEmail = #{mememail,jdbcType=VARCHAR}
    where memID = #{memid,jdbcType=DECIMAL}
  </update>
</mapper>