<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.MembermanagerMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Membermanager" >
    <id column="mmaID" property="mmaid" jdbcType="INTEGER" />
    <result column="memID" property="memid" jdbcType="INTEGER" />
    <result column="macID" property="macid" jdbcType="INTEGER" />
    <result column="mmaTime" property="mmatime" jdbcType="DATE" />
    <result column="mmanagerID" property="mmanagerid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    mmaID, memID, macID, mmaTime, mmanagerID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MemberManager
    where mmaID = #{mmaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MemberManager
    where mmaID = #{mmaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Membermanager" >
    insert into MemberManager (mmaID, memID, macID, 
      mmaTime, mmanagerID)
    values (#{mmaid,jdbcType=INTEGER}, #{memid,jdbcType=INTEGER}, #{macid,jdbcType=INTEGER}, 
      #{mmatime,jdbcType=DATE}, #{mmanagerid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Membermanager" >
    insert into MemberManager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mmaid != null" >
        mmaID,
      </if>
      <if test="memid != null" >
        memID,
      </if>
      <if test="macid != null" >
        macID,
      </if>
      <if test="mmatime != null" >
        mmaTime,
      </if>
      <if test="mmanagerid != null" >
        mmanagerID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mmaid != null" >
        #{mmaid,jdbcType=INTEGER},
      </if>
      <if test="memid != null" >
        #{memid,jdbcType=INTEGER},
      </if>
      <if test="macid != null" >
        #{macid,jdbcType=INTEGER},
      </if>
      <if test="mmatime != null" >
        #{mmatime,jdbcType=DATE},
      </if>
      <if test="mmanagerid != null" >
        #{mmanagerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Membermanager" >
    update MemberManager
    <set >
      <if test="memid != null" >
        memID = #{memid,jdbcType=INTEGER},
      </if>
      <if test="macid != null" >
        macID = #{macid,jdbcType=INTEGER},
      </if>
      <if test="mmatime != null" >
        mmaTime = #{mmatime,jdbcType=DATE},
      </if>
      <if test="mmanagerid != null" >
        mmanagerID = #{mmanagerid,jdbcType=INTEGER},
      </if>
    </set>
    where mmaID = #{mmaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Membermanager" >
    update MemberManager
    set memID = #{memid,jdbcType=INTEGER},
      macID = #{macid,jdbcType=INTEGER},
      mmaTime = #{mmatime,jdbcType=DATE},
      mmanagerID = #{mmanagerid,jdbcType=INTEGER}
    where mmaID = #{mmaid,jdbcType=INTEGER}
  </update>
  <insert id="insertmmList">
    insert into MemberManager(memID,mmanagerID,mmaTime) values
    <foreach collection="mmList" item="mm"  separator="," >
      (#{mm.memid},#{mm.mmanagerid},#{mm.mmatime})
    </foreach>
  </insert>
</mapper>