<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.MemberaccountMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Memberaccount" >
    <id column="memID" property="memid" jdbcType="INTEGER" />
    <result column="maID" property="maid" jdbcType="VARCHAR" />
    <result column="maName" property="maname" jdbcType="VARCHAR" />
    <result column="maPwd" property="mapwd" jdbcType="VARCHAR" />
    <result column="maCumPwd" property="macumpwd" jdbcType="VARCHAR" />
    <result column="maEnable" property="maenable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    memID, maID, maName, maPwd, maCumPwd, maEnable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MemberAccount
    where memID = #{memid,jdbcType=INTEGER}
  </select>
  <select id="selectBymaid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from MemberAccount
    where maID = #{maid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MemberAccount
    where memID = #{memid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Memberaccount" >
    insert into MemberAccount (memID, maID, maName, 
      maPwd, maCumPwd, maEnable
      )
    values (#{memid,jdbcType=INTEGER}, #{maid,jdbcType=VARCHAR}, #{maname,jdbcType=VARCHAR}, 
      #{mapwd,jdbcType=VARCHAR}, #{macumpwd,jdbcType=VARCHAR}, #{maenable,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Memberaccount" >
    insert into MemberAccount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memid != null" >
        memID,
      </if>
      <if test="maid != null" >
        maID,
      </if>
      <if test="maname != null" >
        maName,
      </if>
      <if test="mapwd != null" >
        maPwd,
      </if>
      <if test="macumpwd != null" >
        maCumPwd,
      </if>
      <if test="maenable != null" >
        maEnable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memid != null" >
        #{memid,jdbcType=INTEGER},
      </if>
      <if test="maid != null" >
        #{maid,jdbcType=VARCHAR},
      </if>
      <if test="maname != null" >
        #{maname,jdbcType=VARCHAR},
      </if>
      <if test="mapwd != null" >
        #{mapwd,jdbcType=VARCHAR},
      </if>
      <if test="macumpwd != null" >
        #{macumpwd,jdbcType=VARCHAR},
      </if>
      <if test="maenable != null" >
        #{maenable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Memberaccount" >
    update MemberAccount
    <set >
      <if test="maid != null" >
        maID = #{maid,jdbcType=VARCHAR},
      </if>
      <if test="maname != null" >
        maName = #{maname,jdbcType=VARCHAR},
      </if>
      <if test="mapwd != null" >
        maPwd = #{mapwd,jdbcType=VARCHAR},
      </if>
      <if test="macumpwd != null" >
        maCumPwd = #{macumpwd,jdbcType=VARCHAR},
      </if>
      <if test="maenable != null" >
        maEnable = #{maenable,jdbcType=BIT},
      </if>
    </set>
    where memID = #{memid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Memberaccount" >
    update MemberAccount
    set maID = #{maid,jdbcType=VARCHAR},
      maName = #{maname,jdbcType=VARCHAR},
      maPwd = #{mapwd,jdbcType=VARCHAR},
      maCumPwd = #{macumpwd,jdbcType=VARCHAR},
      maEnable = #{maenable,jdbcType=BIT}
    where memID = #{memid,jdbcType=INTEGER}
  </update>
</mapper>