<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.MembercardMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Membercard" >
    <id column="mcPKID" property="mcpkid" jdbcType="INTEGER" />
    <result column="memID" property="memid" jdbcType="INTEGER" />
    <result column="mcID" property="mcid" jdbcType="VARCHAR" />
    <result column="merID" property="merid" jdbcType="INTEGER" />
    <result column="mcType" property="mctype" jdbcType="VARCHAR" />
    <result column="mcCredit" property="mccredit" jdbcType="REAL" />
    <result column="mcBalance" property="mcbalance" jdbcType="REAL" />
    <result column="mcEnable" property="mcenable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mcPKID, memID, mcID, merID, mcType, mcCredit, mcBalance, mcEnable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MemberCard
    where mcPKID = #{mcpkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MemberCard
    where mcPKID = #{mcpkid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Membercard" >
    insert into MemberCard (mcPKID, memID, mcID, 
      merID, mcType, mcCredit, 
      mcBalance, mcEnable)
    values (#{mcpkid,jdbcType=INTEGER}, #{memid,jdbcType=INTEGER}, #{mcid,jdbcType=VARCHAR}, 
      #{merid,jdbcType=INTEGER}, #{mctype,jdbcType=VARCHAR}, #{mccredit,jdbcType=REAL}, 
      #{mcbalance,jdbcType=REAL}, #{mcenable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Membercard" >
    insert into MemberCard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mcpkid != null" >
        mcPKID,
      </if>
      <if test="memid != null" >
        memID,
      </if>
      <if test="mcid != null" >
        mcID,
      </if>
      <if test="merid != null" >
        merID,
      </if>
      <if test="mctype != null" >
        mcType,
      </if>
      <if test="mccredit != null" >
        mcCredit,
      </if>
      <if test="mcbalance != null" >
        mcBalance,
      </if>
      <if test="mcenable != null" >
        mcEnable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mcpkid != null" >
        #{mcpkid,jdbcType=INTEGER},
      </if>
      <if test="memid != null" >
        #{memid,jdbcType=INTEGER},
      </if>
      <if test="mcid != null" >
        #{mcid,jdbcType=VARCHAR},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=INTEGER},
      </if>
      <if test="mctype != null" >
        #{mctype,jdbcType=VARCHAR},
      </if>
      <if test="mccredit != null" >
        #{mccredit,jdbcType=REAL},
      </if>
      <if test="mcbalance != null" >
        #{mcbalance,jdbcType=REAL},
      </if>
      <if test="mcenable != null" >
        #{mcenable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Membercard" >
    update MemberCard
    <set >
      <if test="memid != null" >
        memID = #{memid,jdbcType=INTEGER},
      </if>
      <if test="mcid != null" >
        mcID = #{mcid,jdbcType=VARCHAR},
      </if>
      <if test="merid != null" >
        merID = #{merid,jdbcType=INTEGER},
      </if>
      <if test="mctype != null" >
        mcType = #{mctype,jdbcType=VARCHAR},
      </if>
      <if test="mccredit != null" >
        mcCredit = #{mccredit,jdbcType=REAL},
      </if>
      <if test="mcbalance != null" >
        mcBalance = #{mcbalance,jdbcType=REAL},
      </if>
      <if test="mcenable != null" >
        mcEnable = #{mcenable,jdbcType=BIT},
      </if>
    </set>
    where mcPKID = #{mcpkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Membercard" >
    update MemberCard
    set memID = #{memid,jdbcType=INTEGER},
      mcID = #{mcid,jdbcType=VARCHAR},
      merID = #{merid,jdbcType=INTEGER},
      mcType = #{mctype,jdbcType=VARCHAR},
      mcCredit = #{mccredit,jdbcType=REAL},
      mcBalance = #{mcbalance,jdbcType=REAL},
      mcEnable = #{mcenable,jdbcType=BIT}
    where mcPKID = #{mcpkid,jdbcType=INTEGER}
  </update>
  <select id="queryAllCard" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from MemberCard
    where merID = #{merid,jdbcType=INTEGER}
  </select>
  <select id="queryCardByMcid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from MemberCard
    where mcID = #{mcid,jdbcType=VARCHAR}
  </select>
  <select id="selectByMember" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from MemberCard
    where memID = #{memid}
  </select>

  <update id="updateMoneyByCarId">
    update MemberCard
    set mcBalance = mcBalance + #{money}
    where mcID = #{cardId}
  </update>

  <select id="queryCardByMcidAndMerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from MemberCard
    where mcID = #{mcid} and merID = #{merid}
  </select>
</mapper>