<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.MerchantinfomodifiedMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Merchantinfomodified" >
    <id column="modifiedId" property="modifiedid" jdbcType="INTEGER" />
    <result column="merID" property="merid" jdbcType="INTEGER" />
    <result column="merImage" property="merimage" jdbcType="VARCHAR" />
    <result column="merMainImage" property="mermainimage" jdbcType="BIT" />
    <result column="merTelphone" property="mertelphone" jdbcType="VARCHAR" />
    <result column="merFax" property="merfax" jdbcType="VARCHAR" />
    <result column="merURL" property="merurl" jdbcType="VARCHAR" />
    <result column="merEmail" property="meremail" jdbcType="VARCHAR" />
    <result column="merPrincipal" property="merprincipal" jdbcType="VARCHAR" />
    <result column="merAppellation" property="merappellation" jdbcType="VARCHAR" />
    <result column="merDuty" property="merduty" jdbcType="VARCHAR" />
    <result column="merPhone" property="merphone" jdbcType="VARCHAR" />
    <result column="merLevel" property="merlevel" jdbcType="INTEGER" />
    <result column="merPostNum" property="merpostnum" jdbcType="VARCHAR" />
    <result column="merProvince" property="merprovince" jdbcType="VARCHAR" />
    <result column="merCity" property="mercity" jdbcType="VARCHAR" />
    <result column="merArea" property="merarea" jdbcType="VARCHAR" />
    <result column="examineState" property="examinestate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scau.hyskjf.pojo.MerchantinfomodifiedWithBLOBs" extends="BaseResultMap" >
    <result column="merIntroduce" property="merintroduce" jdbcType="LONGVARCHAR" />
    <result column="merAdress" property="meradress" jdbcType="LONGVARCHAR" />
    <result column="merLandmark" property="merlandmark" jdbcType="LONGVARCHAR" />
    <result column="merDiscount" property="merdiscount" jdbcType="LONGVARCHAR" />
    <result column="merDiscountEvent" property="merdiscountevent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    modifiedId, merID, merImage, merMainImage, merTelphone, merFax, merURL, merEmail, 
    merPrincipal, merAppellation, merDuty, merPhone, merLevel, merPostNum, merProvince, 
    merCity, merArea, examineState
  </sql>
  <sql id="Blob_Column_List" >
    merIntroduce, merAdress, merLandmark, merDiscount, merDiscountEvent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchantInfoModified
    where modifiedId = #{modifiedid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchantInfoModified
    where modifiedId = #{modifiedid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.MerchantinfomodifiedWithBLOBs" >
    insert into merchantInfoModified (modifiedId, merID, merImage, 
      merMainImage, merTelphone, merFax, 
      merURL, merEmail, merPrincipal, 
      merAppellation, merDuty, merPhone, 
      merLevel, merPostNum, merProvince, 
      merCity, merArea, examineState, 
      merIntroduce, merAdress, merLandmark, 
      merDiscount, merDiscountEvent)
    values (#{modifiedid,jdbcType=INTEGER}, #{merid,jdbcType=INTEGER}, #{merimage,jdbcType=VARCHAR}, 
      #{mermainimage,jdbcType=BIT}, #{mertelphone,jdbcType=VARCHAR}, #{merfax,jdbcType=VARCHAR}, 
      #{merurl,jdbcType=VARCHAR}, #{meremail,jdbcType=VARCHAR}, #{merprincipal,jdbcType=VARCHAR}, 
      #{merappellation,jdbcType=VARCHAR}, #{merduty,jdbcType=VARCHAR}, #{merphone,jdbcType=VARCHAR}, 
      #{merlevel,jdbcType=INTEGER}, #{merpostnum,jdbcType=VARCHAR}, #{merprovince,jdbcType=VARCHAR}, 
      #{mercity,jdbcType=VARCHAR}, #{merarea,jdbcType=VARCHAR}, #{examinestate,jdbcType=VARCHAR}, 
      #{merintroduce,jdbcType=LONGVARCHAR}, #{meradress,jdbcType=LONGVARCHAR}, #{merlandmark,jdbcType=LONGVARCHAR}, 
      #{merdiscount,jdbcType=LONGVARCHAR}, #{merdiscountevent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.MerchantinfomodifiedWithBLOBs" >
    insert into merchantInfoModified
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modifiedid != null" >
        modifiedId,
      </if>
      <if test="merid != null" >
        merID,
      </if>
      <if test="merimage != null" >
        merImage,
      </if>
      <if test="mermainimage != null" >
        merMainImage,
      </if>
      <if test="mertelphone != null" >
        merTelphone,
      </if>
      <if test="merfax != null" >
        merFax,
      </if>
      <if test="merurl != null" >
        merURL,
      </if>
      <if test="meremail != null" >
        merEmail,
      </if>
      <if test="merprincipal != null" >
        merPrincipal,
      </if>
      <if test="merappellation != null" >
        merAppellation,
      </if>
      <if test="merduty != null" >
        merDuty,
      </if>
      <if test="merphone != null" >
        merPhone,
      </if>
      <if test="merlevel != null" >
        merLevel,
      </if>
      <if test="merpostnum != null" >
        merPostNum,
      </if>
      <if test="merprovince != null" >
        merProvince,
      </if>
      <if test="mercity != null" >
        merCity,
      </if>
      <if test="merarea != null" >
        merArea,
      </if>
      <if test="examinestate != null" >
        examineState,
      </if>
      <if test="merintroduce != null" >
        merIntroduce,
      </if>
      <if test="meradress != null" >
        merAdress,
      </if>
      <if test="merlandmark != null" >
        merLandmark,
      </if>
      <if test="merdiscount != null" >
        merDiscount,
      </if>
      <if test="merdiscountevent != null" >
        merDiscountEvent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modifiedid != null" >
        #{modifiedid,jdbcType=INTEGER},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=INTEGER},
      </if>
      <if test="merimage != null" >
        #{merimage,jdbcType=VARCHAR},
      </if>
      <if test="mermainimage != null" >
        #{mermainimage,jdbcType=BIT},
      </if>
      <if test="mertelphone != null" >
        #{mertelphone,jdbcType=VARCHAR},
      </if>
      <if test="merfax != null" >
        #{merfax,jdbcType=VARCHAR},
      </if>
      <if test="merurl != null" >
        #{merurl,jdbcType=VARCHAR},
      </if>
      <if test="meremail != null" >
        #{meremail,jdbcType=VARCHAR},
      </if>
      <if test="merprincipal != null" >
        #{merprincipal,jdbcType=VARCHAR},
      </if>
      <if test="merappellation != null" >
        #{merappellation,jdbcType=VARCHAR},
      </if>
      <if test="merduty != null" >
        #{merduty,jdbcType=VARCHAR},
      </if>
      <if test="merphone != null" >
        #{merphone,jdbcType=VARCHAR},
      </if>
      <if test="merlevel != null" >
        #{merlevel,jdbcType=INTEGER},
      </if>
      <if test="merpostnum != null" >
        #{merpostnum,jdbcType=VARCHAR},
      </if>
      <if test="merprovince != null" >
        #{merprovince,jdbcType=VARCHAR},
      </if>
      <if test="mercity != null" >
        #{mercity,jdbcType=VARCHAR},
      </if>
      <if test="merarea != null" >
        #{merarea,jdbcType=VARCHAR},
      </if>
      <if test="examinestate != null" >
        #{examinestate,jdbcType=VARCHAR},
      </if>
      <if test="merintroduce != null" >
        #{merintroduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="meradress != null" >
        #{meradress,jdbcType=LONGVARCHAR},
      </if>
      <if test="merlandmark != null" >
        #{merlandmark,jdbcType=LONGVARCHAR},
      </if>
      <if test="merdiscount != null" >
        #{merdiscount,jdbcType=LONGVARCHAR},
      </if>
      <if test="merdiscountevent != null" >
        #{merdiscountevent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.MerchantinfomodifiedWithBLOBs" >
    update merchantInfoModified
    <set >
      <if test="merid != null" >
        merID = #{merid,jdbcType=INTEGER},
      </if>
      <if test="merimage != null" >
        merImage = #{merimage,jdbcType=VARCHAR},
      </if>
      <if test="mermainimage != null" >
        merMainImage = #{mermainimage,jdbcType=BIT},
      </if>
      <if test="mertelphone != null" >
        merTelphone = #{mertelphone,jdbcType=VARCHAR},
      </if>
      <if test="merfax != null" >
        merFax = #{merfax,jdbcType=VARCHAR},
      </if>
      <if test="merurl != null" >
        merURL = #{merurl,jdbcType=VARCHAR},
      </if>
      <if test="meremail != null" >
        merEmail = #{meremail,jdbcType=VARCHAR},
      </if>
      <if test="merprincipal != null" >
        merPrincipal = #{merprincipal,jdbcType=VARCHAR},
      </if>
      <if test="merappellation != null" >
        merAppellation = #{merappellation,jdbcType=VARCHAR},
      </if>
      <if test="merduty != null" >
        merDuty = #{merduty,jdbcType=VARCHAR},
      </if>
      <if test="merphone != null" >
        merPhone = #{merphone,jdbcType=VARCHAR},
      </if>
      <if test="merlevel != null" >
        merLevel = #{merlevel,jdbcType=INTEGER},
      </if>
      <if test="merpostnum != null" >
        merPostNum = #{merpostnum,jdbcType=VARCHAR},
      </if>
      <if test="merprovince != null" >
        merProvince = #{merprovince,jdbcType=VARCHAR},
      </if>
      <if test="mercity != null" >
        merCity = #{mercity,jdbcType=VARCHAR},
      </if>
      <if test="merarea != null" >
        merArea = #{merarea,jdbcType=VARCHAR},
      </if>
      <if test="examinestate != null" >
        examineState = #{examinestate,jdbcType=VARCHAR},
      </if>
      <if test="merintroduce != null" >
        merIntroduce = #{merintroduce,jdbcType=LONGVARCHAR},
      </if>
      <if test="meradress != null" >
        merAdress = #{meradress,jdbcType=LONGVARCHAR},
      </if>
      <if test="merlandmark != null" >
        merLandmark = #{merlandmark,jdbcType=LONGVARCHAR},
      </if>
      <if test="merdiscount != null" >
        merDiscount = #{merdiscount,jdbcType=LONGVARCHAR},
      </if>
      <if test="merdiscountevent != null" >
        merDiscountEvent = #{merdiscountevent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where modifiedId = #{modifiedid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scau.hyskjf.pojo.MerchantinfomodifiedWithBLOBs" >
    update merchantInfoModified
    set merID = #{merid,jdbcType=INTEGER},
      merImage = #{merimage,jdbcType=VARCHAR},
      merMainImage = #{mermainimage,jdbcType=BIT},
      merTelphone = #{mertelphone,jdbcType=VARCHAR},
      merFax = #{merfax,jdbcType=VARCHAR},
      merURL = #{merurl,jdbcType=VARCHAR},
      merEmail = #{meremail,jdbcType=VARCHAR},
      merPrincipal = #{merprincipal,jdbcType=VARCHAR},
      merAppellation = #{merappellation,jdbcType=VARCHAR},
      merDuty = #{merduty,jdbcType=VARCHAR},
      merPhone = #{merphone,jdbcType=VARCHAR},
      merLevel = #{merlevel,jdbcType=INTEGER},
      merPostNum = #{merpostnum,jdbcType=VARCHAR},
      merProvince = #{merprovince,jdbcType=VARCHAR},
      merCity = #{mercity,jdbcType=VARCHAR},
      merArea = #{merarea,jdbcType=VARCHAR},
      examineState = #{examinestate,jdbcType=VARCHAR},
      merIntroduce = #{merintroduce,jdbcType=LONGVARCHAR},
      merAdress = #{meradress,jdbcType=LONGVARCHAR},
      merLandmark = #{merlandmark,jdbcType=LONGVARCHAR},
      merDiscount = #{merdiscount,jdbcType=LONGVARCHAR},
      merDiscountEvent = #{merdiscountevent,jdbcType=LONGVARCHAR}
    where modifiedId = #{modifiedid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Merchantinfomodified" >
    update merchantInfoModified
    set merID = #{merid,jdbcType=INTEGER},
      merImage = #{merimage,jdbcType=VARCHAR},
      merMainImage = #{mermainimage,jdbcType=BIT},
      merTelphone = #{mertelphone,jdbcType=VARCHAR},
      merFax = #{merfax,jdbcType=VARCHAR},
      merURL = #{merurl,jdbcType=VARCHAR},
      merEmail = #{meremail,jdbcType=VARCHAR},
      merPrincipal = #{merprincipal,jdbcType=VARCHAR},
      merAppellation = #{merappellation,jdbcType=VARCHAR},
      merDuty = #{merduty,jdbcType=VARCHAR},
      merPhone = #{merphone,jdbcType=VARCHAR},
      merLevel = #{merlevel,jdbcType=INTEGER},
      merPostNum = #{merpostnum,jdbcType=VARCHAR},
      merProvince = #{merprovince,jdbcType=VARCHAR},
      merCity = #{mercity,jdbcType=VARCHAR},
      merArea = #{merarea,jdbcType=VARCHAR},
      examineState = #{examinestate,jdbcType=VARCHAR}
    where modifiedId = #{modifiedid,jdbcType=INTEGER}
  </update>


  <select id="findAllMerchantModified" resultType="MerchantinfomodifiedWithBLOBs" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchantInfoModified
    where examineState = #{state}
  </select>
</mapper>