<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.MerchantaccountMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Merchantaccount" >
    <id column="macID" property="macid" jdbcType="INTEGER" />
    <result column="merID" property="merid" jdbcType="INTEGER" />
    <result column="macAcc" property="macacc" jdbcType="VARCHAR" />
    <result column="macCumAcc" property="maccumacc" jdbcType="INTEGER" />
    <result column="macPasswd" property="macpasswd" jdbcType="VARCHAR" />
    <result column="macAccType" property="macacctype" jdbcType="INTEGER" />
    <result column="macLastLogin" property="maclastlogin" jdbcType="TIMESTAMP" />
    <result column="macEnable" property="macenable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    macID, merID, macAcc, macCumAcc, macPasswd, macAccType, macLastLogin, macEnable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from MerchantAccount
    where macID = #{macid,jdbcType=INTEGER}
  </select>
   <select id="selectByMerID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from MerchantAccount
        where merID = #{merID,jdbcType=INTEGER}
   </select>
  <select id="selectByMacAcc" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from MerchantAccount
    where macAcc = #{macAcc,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from MerchantAccount
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MerchantAccount
    where macID = #{macid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Merchantaccount" >
    insert into MerchantAccount (macID, merID, macAcc, 
      macCumAcc, macPasswd, macAccType, 
      macLastLogin, macEnable)
    values (#{macid,jdbcType=INTEGER}, #{merid,jdbcType=INTEGER}, #{macacc,jdbcType=VARCHAR}, 
      #{maccumacc,jdbcType=INTEGER}, #{macpasswd,jdbcType=VARCHAR}, #{macacctype,jdbcType=INTEGER}, 
      #{maclastlogin,jdbcType=TIMESTAMP}, #{macenable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Merchantaccount" >
    insert into MerchantAccount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="macid != null" >
        macID,
      </if>
      <if test="merid != null" >
        merID,
      </if>
      <if test="macacc != null" >
        macAcc,
      </if>
      <if test="maccumacc != null" >
        macCumAcc,
      </if>
      <if test="macpasswd != null" >
        macPasswd,
      </if>
      <if test="macacctype != null" >
        macAccType,
      </if>
      <if test="maclastlogin != null" >
        macLastLogin,
      </if>
      <if test="macenable != null" >
        macEnable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="macid != null" >
        #{macid,jdbcType=INTEGER},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=INTEGER},
      </if>
      <if test="macacc != null" >
        #{macacc,jdbcType=VARCHAR},
      </if>
      <if test="maccumacc != null" >
        #{maccumacc,jdbcType=INTEGER},
      </if>
      <if test="macpasswd != null" >
        #{macpasswd,jdbcType=VARCHAR},
      </if>
      <if test="macacctype != null" >
        #{macacctype,jdbcType=INTEGER},
      </if>
      <if test="maclastlogin != null" >
        #{maclastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="macenable != null" >
        #{macenable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Merchantaccount" >
    update MerchantAccount
    <set >
      <if test="merid != null" >
        merID = #{merid,jdbcType=INTEGER},
      </if>
      <if test="macacc != null" >
        macAcc = #{macacc,jdbcType=VARCHAR},
      </if>
      <if test="maccumacc != null" >
        macCumAcc = #{maccumacc,jdbcType=INTEGER},
      </if>
      <if test="macpasswd != null" >
        macPasswd = #{macpasswd,jdbcType=VARCHAR},
      </if>
      <if test="macacctype != null" >
        macAccType = #{macacctype,jdbcType=INTEGER},
      </if>
      <if test="maclastlogin != null" >
        macLastLogin = #{maclastlogin,jdbcType=TIMESTAMP},
      </if>
      <if test="macenable != null" >
        macEnable = #{macenable,jdbcType=BIT},
      </if>
    </set>
    where macID = #{macid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Merchantaccount" >
    update MerchantAccount
    set merID = #{merid,jdbcType=INTEGER},
      macAcc = #{macacc,jdbcType=VARCHAR},
      macCumAcc = #{maccumacc,jdbcType=INTEGER},
      macPasswd = #{macpasswd,jdbcType=VARCHAR},
      macAccType = #{macacctype,jdbcType=INTEGER},
      macLastLogin = #{maclastlogin,jdbcType=TIMESTAMP},
      macEnable = #{macenable,jdbcType=BIT}
    where macID = #{macid,jdbcType=INTEGER}
  </update>


  <update id="forbidBymerId" parameterType="com.scau.hyskjf.pojo.Merchantaccount">
    update MerchantAccount
    set macEnable = #{macenable,jdbcType=BIT}
    where merID = #{merid,jdbcType=INTEGER}
  </update>

  <resultMap id="manshow" type="com.scau.hyskjf.pojo.MManager">
    <id column="macID" property="macid" />
    <result column="merID" property="merid" />
    <result column="macAcc" property="macacc" />
  </resultMap>
  <select id="queryManager" resultMap="manshow">
    select macID,merID,macAcc
    from MerchantAccount
    where merID=#{merID} and macEnable='1' and (macAccType='3' or macAccType= '13')
  </select>
  <update id="addPermission">
    update MerchantAccount set macAccType=macAccType+10 where macAcc=#{macAcc} and merID=#{merId}
  </update>
  <select id="queryType" resultType="java.lang.Integer">
    select macAccType
    from MerchantAccount
    where macAcc=#{macAcc} and merID=#{merId}
  </select>
</mapper>