<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.hyskjf.dao.PremembercardMapper" >
  <resultMap id="BaseResultMap" type="com.scau.hyskjf.pojo.Premembercard" >
    <id column="pmcID" property="pmcid" jdbcType="DECIMAL" />
    <result column="merID" property="merid" jdbcType="DECIMAL" />
    <result column="pmcStat" property="pmcstat" jdbcType="BIT" />
    <result column="pmcMerchant" property="pmcmerchant" jdbcType="DECIMAL" />
    <result column="pmcMerMaker" property="pmcmermaker" jdbcType="DECIMAL" />
    <result column="pmcProvider" property="pmcprovider" jdbcType="INTEGER" />
    <result column="pmcMakeTime" property="pmcmaketime" jdbcType="DATE" />
    <result column="pmcProvideTime" property="pmcprovidetime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    pmcID, merID, pmcStat, pmcMerchant, pmcMerMaker, pmcProvider, pmcMakeTime, pmcProvideTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from PreMemberCard
    where pmcID = #{pmcid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from PreMemberCard
    where pmcID = #{pmcid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.scau.hyskjf.pojo.Premembercard" >
    insert into PreMemberCard (pmcID, merID, pmcStat, 
      pmcMerchant, pmcMerMaker, pmcProvider, 
      pmcMakeTime, pmcProvideTime)
    values (#{pmcid,jdbcType=DECIMAL}, #{merid,jdbcType=DECIMAL}, #{pmcstat,jdbcType=BIT}, 
      #{pmcmerchant,jdbcType=DECIMAL}, #{pmcmermaker,jdbcType=DECIMAL}, #{pmcprovider,jdbcType=INTEGER}, 
      #{pmcmaketime,jdbcType=DATE}, #{pmcprovidetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.hyskjf.pojo.Premembercard" >
    insert into PreMemberCard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pmcid != null" >
        pmcID,
      </if>
      <if test="merid != null" >
        merID,
      </if>
      <if test="pmcstat != null" >
        pmcStat,
      </if>
      <if test="pmcmerchant != null" >
        pmcMerchant,
      </if>
      <if test="pmcmermaker != null" >
        pmcMerMaker,
      </if>
      <if test="pmcprovider != null" >
        pmcProvider,
      </if>
      <if test="pmcmaketime != null" >
        pmcMakeTime,
      </if>
      <if test="pmcprovidetime != null" >
        pmcProvideTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pmcid != null" >
        #{pmcid,jdbcType=DECIMAL},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=DECIMAL},
      </if>
      <if test="pmcstat != null" >
        #{pmcstat,jdbcType=BIT},
      </if>
      <if test="pmcmerchant != null" >
        #{pmcmerchant,jdbcType=DECIMAL},
      </if>
      <if test="pmcmermaker != null" >
        #{pmcmermaker,jdbcType=DECIMAL},
      </if>
      <if test="pmcprovider != null" >
        #{pmcprovider,jdbcType=INTEGER},
      </if>
      <if test="pmcmaketime != null" >
        #{pmcmaketime,jdbcType=DATE},
      </if>
      <if test="pmcprovidetime != null" >
        #{pmcprovidetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.hyskjf.pojo.Premembercard" >
    update PreMemberCard
    <set >
      <if test="merid != null" >
        merID = #{merid,jdbcType=DECIMAL},
      </if>
      <if test="pmcstat != null" >
        pmcStat = #{pmcstat,jdbcType=BIT},
      </if>
      <if test="pmcmerchant != null" >
        pmcMerchant = #{pmcmerchant,jdbcType=DECIMAL},
      </if>
      <if test="pmcmermaker != null" >
        pmcMerMaker = #{pmcmermaker,jdbcType=DECIMAL},
      </if>
      <if test="pmcprovider != null" >
        pmcProvider = #{pmcprovider,jdbcType=INTEGER},
      </if>
      <if test="pmcmaketime != null" >
        pmcMakeTime = #{pmcmaketime,jdbcType=DATE},
      </if>
      <if test="pmcprovidetime != null" >
        pmcProvideTime = #{pmcprovidetime,jdbcType=DATE},
      </if>
    </set>
    where pmcID = #{pmcid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.hyskjf.pojo.Premembercard" >
    update PreMemberCard
    set merID = #{merid,jdbcType=DECIMAL},
      pmcStat = #{pmcstat,jdbcType=BIT},
      pmcMerchant = #{pmcmerchant,jdbcType=DECIMAL},
      pmcMerMaker = #{pmcmermaker,jdbcType=DECIMAL},
      pmcProvider = #{pmcprovider,jdbcType=INTEGER},
      pmcMakeTime = #{pmcmaketime,jdbcType=DATE},
      pmcProvideTime = #{pmcprovidetime,jdbcType=DATE}
    where pmcID = #{pmcid,jdbcType=DECIMAL}
  </update>
</mapper>